PyroTGFork==2.1.32.15
tgcrypto==1.2.5
motor
umongo
pymongo
aiocache[redis]
dnspython
marshmallow
bs4==0.0.1
psutil==6.0.0
apscheduler==3.10.4
git+https://github.com/Joelkb/cinemagoer
tmdbv3api
requests
asyncpg
tenacity
python-dotenv
datetime
pytz
aiohttp
Heroku3
